@use 'variables' as *;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: calc($spacing-unit / 2);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
